[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-cors = "*"
pandas = "*"
scikit-learn = "*"
category-encoders = "*"

[dev-packages]


[requires]
python_version = "3.7"
